[submodule "configs/.tmux/plugins/tmux-resurrect"]
	path = configs/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "configs/.tmux/plugins/vim-tmux-navigator"]
	path = configs/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "configs/.tmux/plugins/tmux-sensible"]
	path = configs/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "configs/.tmux/plugins/tpm"]
	path = configs/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "configs/.tmux/plugins/tmux"]
	path = configs/.tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
[submodule "source/tela-icons"]
	path = source/tela-icons
	url = https://github.com/vinceliuice/Tela-icon-theme.git
