[submodule "configs/.oh-my-zsh"]
	path = configs/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "configs/.tmux/plugins/tmux-resurrect"]
	path = configs/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "configs/.tmux/plugins/vim-tmux-navigator"]
	path = configs/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "configs/.tmux/plugins/tmux-sensible"]
	path = configs/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "configs/.tmux/plugins/tpm"]
	path = configs/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "configs/.tmux/plugins/tmux"]
	path = configs/.tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
[submodule "source/eww"]
	path = source/eww
	url = https://github.com/elkowar/eww
[submodule "configs/omz-plugins/powerlevel10k"]
	path = configs/omz-plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "configs/omz-plugins/zsh-autosuggestions"]
	path = configs/omz-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "configs/omz-plugins/zsh-syntax-highlighting"]
	path = configs/omz-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
